@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;1,100;1,400&display=swap');

*,*::after,*::before{
    box-sizing: border-box;
}




*{
    margin: 0;
    padding: 0;
}



a{
    border: none;
    text-decoration: none;
}

body{
    padding: 0;
    margin: 0;
    font-family: 'Poppins','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;

}




h3{

    font-size: 50px;
    /* text-align: left;
    padding-left: 120px; */
    
}


input[type=text],input[type=password]{
    margin-top: 10px;
    width: 300px;
    height: 40px;
}

input[type=checkbox]{
    margin-top: 10px;
    margin-right: 10px;
    width: 20px;
    height: 20px;

}




input{
    
    padding: 10px;
    border: none;
    box-shadow: none;
    font: inherit;
    width: 100%;
    transition: 0.3s;
    background-color: #F2F4F8;
    border-radius: 3px;
    height: 200px;
    
}


input:focus{

    outline: 0;
    /* box-shadow: 0 0 0 0.15rem rgb(49, 49, 47); */
    transform: scale(1.020);
}



/* CSS */
button {
  align-items: center;
  appearance: button;
  background-color: #0276FF;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  font-size: 100%;
  line-height: 1.15;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px 21px;
  text-align: center;
  text-transform: none;
  transition: color .13s ease-in-out,background .13s ease-in-out,opacity .13s ease-in-out,box-shadow .13s ease-in-out;

  
  
}

button:active {
  background-color: #006AE8;
}

button:hover {
  background-color: #1C84FF;
}



.social-media img{
    padding-top: 30px;
    width: 5%;
    margin: 10px;
    cursor: pointer;
}
p .keepMe{
    position: relative;
}
/* 
.keepMe::before{
    content: "";
    display: block;
    width: 120px;
    height: 2px;
    background: #000;
    position: absolute;
    left: 0;
    top:40%;

}


.keepMe::after{
    content: "";
    display: block;
    width: 120px;
    height: 2px;
    background: #000;
    position: absolute;
    right: 0;
    top:50%;


    

} */

.countainer{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    height: 100vh;
    /* align-items: center;
    align-items: center; */
    /* justify-content: center;
    align-content: center ; */
    justify-self: center;
    align-self: center;
}

.countainer div{
    /* display: grid; */
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.right-side img{
    width: 50%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}

.right-side{
    background-image: url("images/karsten-wurth-karsten-wuerth-7BjhtdogU3A-unsplash.jpg");
    background-size: cover;
}

.left-side{
    position: absolute;
    top: 20%;
    left: 20%;


    
}

.regiser-form{
    display: none;
}

/* validtion styling */

input.invalid{
    border: 1px solid red;
}

.error-hint,.error_hintpass{
    color: red;
    font-size: 80%;
}



.hidden{
    display: none;
}