@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;1,100;1,400&display=swap');

body{
    padding: 30px;
    margin: 0;
    font-family: 'Poppins','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    

}
header{
    /* position: relative; */
    display: grid;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    grid-template-columns: repeat(3,1fr);
    justify-content: space-around;
}




.link-nav a{
    margin-left: 10px;
    text-decoration: none;
}


.container{
    position: relative;
    left: 50%;
    top: 40%;
    transform: translate(-50%,-50%);
}

#ProfilePhoto{
    width: 12%;
    border-radius: 50%;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 60%;
}

.link-nav{
    display: inline;
    text-align: center;
}

.link-nav a:hover{
    color: #6C63FF;
    cursor: pointer;
    border-bottom: 3px solid #6C63FF;
    
}


a{
    text-decoration: none;
}
.menu{
    left: 200px;
    position: absolute;
    margin: 10px;
    /* padding-left: 10px; */
    border-radius: 6px;
    /* padding: 20px; */
    width: 200px;
    box-shadow: -1px 0px 11px -5px #a3a3a3;
    background: whitesmoke;
    transition: 0.3s ease;
    visibility: hidden;
    opacity: 0;
    float: left;
 
}

li{
    text-decoration: none;
}
.menu ul li{
    margin-top: 5px;
    font-weight: 500;
    list-style: none;
    text-decoration: none;
    border: none;
}


.active{
  
  transform: scale(1.025);
  visibility: visible;
  opacity: 1;
}

h3{
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.3em;
    color: #555;
}

span{
    font-size: 14px;
    color: #cecece;
}

a{
  font-size: 16px;
    color: #558;
  transition: 0.5s;
}

a:hover{
    color: rgb(59, 57, 57);
}


p{
   opacity: 0.40;
  
  
}



section{
    text-align: center;
    padding-top:80px;
    margin-right: 30%;
    margin-left: 30%;
    height: 66vh;
}

footer{
    display: flex;
    gap: 20px;
    float: right;
    margin-bottom: 0;
    margin-right: 10px;
}

h1{
    font-size: 40px;
    font-weight: bold;
}


/* CSS */
#start{
    
    text-decoration: none;
    align-items: center;
   
    background-color: #0276FF;
    border-radius: 8px;
    border-style: none;
    box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 100%;
    line-height: 1.15;
    padding: 10px 31px;
    text-align: center;
    text-transform: none;
    transition: color .13s ease-in-out,background .13s ease-in-out,opacity .13s ease-in-out,box-shadow .13s ease-in-out;
  
    
    
  }
  
#start:active {
    background-color: #006AE8;
  }
  
#btn-start:hover {
    background-color: #1C84FF;
}
  

#text-section{
    margin-bottom:59px ;
}
