@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;1,100;1,400&display=swap');

body{
    padding: 0;
    margin: 0;
    font-family: 'Poppins','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.container{
    display: grid;
    /* padding: 20px; */
}
nav{
    display: grid;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    grid-template-columns: repeat(3,1fr);
    justify-content: space-around;
}

nav img{
    width: 20%;
    margin: 20px;
}

nav li{
    margin: 10px;
    display: inline;
    text-align: center;
}

.btn-nav{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  justify-content: space-evenly;

}
.btn-nav button{
    border: none;
    background-color: white;
    left: 0;
}

.section1{
    margin: 100px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
}

.box-1{
    text-align: center;
}
.box-1 img{
    width: 60%;
}


.img-people img{
    width: 80%;

}

.section2{
    text-align: center;
    background-color: #4525F2;
    height: 700px;
    padding-top: 100px;
    color: white;
}
.Qutes-container{
    padding-top: 100px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    align-items: center;
    gap:20px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 10px;
    text-align: center;
}

.section3{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
}

.section3 p,h1{
    text-align: center;
}


footer{
    background-color: #4525F2;
    display: flex;
    justify-content: space-around;
    color: white;
}

.wave-pic img{
    transform: scale(-1,-1);
}

.wave-pic{
    position: relative;
    margin: 0;
    padding: 0;
    bottom: -10px;
}